body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
}

input[type="submit"] {
	border: 2px solid #ccc;
	background-color: #ebe8e5;
	color: #555;
	display: inline-block;
	font-size: 19px;
	font-weight: 700;
	padding: 10px 10px 9px;
	min-width: 260px;
	text-align: center;
	border-radius: 16px;
	margin-bottom: 12px;
	cursor: pointer;
	box-sizing: border-box;
	outline: none;
}
input[type="text"], textarea {
	padding: 8px; 
	margin-bottom: 8px;
	font-size: 17px;
	border-radius: 8px;
	outline: none;
	line-height: 1.6;
	background-color: #ddd;
	border: 2px solid #999;
}

h1 {
	color: #222;
    margin-top: 36px;
    margin-bottom: 36px;
    font-family: readex pro, arial, sans-serifs;
    font-size: 48px;
    text-align: center;
    display: block;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


/* 
input[type=submit], input[type=button] {
    border: 2px solid #ccc;
    background-color: #ebe8e5;
    color: #555;
} */

/* input[type="submit"] {
	padding: 14px 0;
	margin: 10px 0;
	border: none;
	cursor: grabbing;
	width: 50%;
} */


/* textarea {
	width: 50%;
	height: 500px;
	padding: 16px 8px;
	margin: 8px 40px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
} */

/*Class */
.content-container {
	text-align: center;
	margin: 24px 50px 12px;
}

li:hover .recent-reading + .last-open-title {
	display: block;
	color: grey;
}


